# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories

!alfred-fuzzy
!csv
!csv_icons
!fuzzylist
!icons
!scripts

# Extensions
!csv/*.csv
!csv_icons/*.png
!icons/*.png
!scripts/*.py

# Files

## Project Info
!LICENSE
!README.md

## Git
!.gitignore
!.gitmodules

## Changelog
!.gitchangelog.rc
!.gitchlogmd.tpl
!CHANGELOG.md

## Version Bump
!tbump.toml

## code
!demo.gif
!info.plist
!list.csv



# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories


# Extensions


# Files


