<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tw.yellowsoar.alfred.websearchwithfuzzylist</string>
	<key>category</key>
	<string>📄Templates</string>
	<key>connections</key>
	<dict>
		<key>0A867966-742C-44AA-A714-751EBCFC4389</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>594848B1-BE70-44D7-9F8B-86115746DC27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F2BFEC1-ACB9-49D8-AAD6-CE294D99AE47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EBB0EE0-164A-4E1F-95C2-FE949F9725BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EBB0EE0-164A-4E1F-95C2-FE949F9725BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0AA7277-F1ED-4A31-9826-A9157FB0B85E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>594848B1-BE70-44D7-9F8B-86115746DC27</key>
		<array/>
		<key>5B3F222B-7B07-48E9-8E57-A6A73BE1D5C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C96E9E3-6D68-4F50-B40B-D456C52F660E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F2BFEC1-ACB9-49D8-AAD6-CE294D99AE47</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Single csv mode ({var:sfl_file_csv})</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76C32CDC-249F-42A1-9D0B-AC7C691F7FE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC19CFDC-105F-42BA-B640-6E79FF69B6CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C96E9E3-6D68-4F50-B40B-D456C52F660E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76C32CDC-249F-42A1-9D0B-AC7C691F7FE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C4D2A53-E16D-41CB-96E5-C9AB77A976FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01663890-45F2-4885-8B74-46D9AA534758</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC19CFDC-105F-42BA-B640-6E79FF69B6CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD852520-D00C-40FD-9B2A-D69E56B68DB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0AA7277-F1ED-4A31-9826-A9157FB0B85E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBFE754D-1F80-4449-9044-0E6E53294C9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD852520-D00C-40FD-9B2A-D69E56B68DB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0AA7277-F1ED-4A31-9826-A9157FB0B85E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E83F39A2-A40B-44D9-865E-4D56A4E1D4DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>594848B1-BE70-44D7-9F8B-86115746DC27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A867966-742C-44AA-A714-751EBCFC4389</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal file in finder.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBFE754D-1F80-4449-9044-0E6E53294C9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC0CC581-47A8-4FBF-9668-F5FC685AAFE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C4D2A53-E16D-41CB-96E5-C9AB77A976FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yellowsoar</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Web Search with Fuzzy List</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export query=$1
./scripts/copy_csv.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC19CFDC-105F-42BA-B640-6E79FF69B6CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Press CMD(⌘) for single csv mode ({var:sfl_file_csv}).</string>
				<key>text</key>
				<string>Search for : {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B3F222B-7B07-48E9-8E57-A6A73BE1D5C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="$1"
export session_var="fuzzy_filter2"
./alfred-fuzzy/fuzzy.py /usr/bin/python ./fuzzylist/fuzzylist.py ./"${sfl_dir_tmp}"/list.csv</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD852520-D00C-40FD-9B2A-D69E56B68DB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="$1"
./scripts/check_directories.py
./scripts/filename2list.py 
./alfred-fuzzy/fuzzy.py /usr/bin/python ./fuzzylist/fuzzylist.py ./"${sfl_dir_tmp}"/list.csv</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>76C32CDC-249F-42A1-9D0B-AC7C691F7FE4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8C96E9E3-6D68-4F50-B40B-D456C52F660E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>6440BFDA-0FBC-4D37-843F-C608556F33AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC0CC581-47A8-4FBF-9668-F5FC685AAFE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="$1"
./alfred-fuzzy/fuzzy.py /usr/bin/python ./fuzzylist/fuzzylist.py "$sfl_file_csv"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2EBB0EE0-164A-4E1F-95C2-FE949F9725BD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>query</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F2BFEC1-ACB9-49D8-AAD6-CE294D99AE47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B0AA7277-F1ED-4A31-9826-A9157FB0B85E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{query}</string>
				<key>replacestring</key>
				<string>{var:query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EBFE754D-1F80-4449-9044-0E6E53294C9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>01663890-45F2-4885-8B74-46D9AA534758</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9C4D2A53-E16D-41CB-96E5-C9AB77A976FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/open_csv.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>594848B1-BE70-44D7-9F8B-86115746DC27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:keyword}csv</string>
				<key>subtext</key>
				<string>Press CMD(⌘) to reveal in finder</string>
				<key>text</key>
				<string>Open csv file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E83F39A2-A40B-44D9-865E-4D56A4E1D4DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reveal</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A867966-742C-44AA-A714-751EBCFC4389</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Web search with fuzzy list</string>
	<key>uidata</key>
	<dict>
		<key>01663890-45F2-4885-8B74-46D9AA534758</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>0A867966-742C-44AA-A714-751EBCFC4389</key>
		<dict>
			<key>note</key>
			<string>Reveal in finder</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>0F2BFEC1-ACB9-49D8-AAD6-CE294D99AE47</key>
		<dict>
			<key>note</key>
			<string>Save search keyword for later</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>2EBB0EE0-164A-4E1F-95C2-FE949F9725BD</key>
		<dict>
			<key>note</key>
			<string>Original Fuzzylist - copy and change the filename for multiple instances.</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>594848B1-BE70-44D7-9F8B-86115746DC27</key>
		<dict>
			<key>note</key>
			<string>Reveal or open list.csv</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>5B3F222B-7B07-48E9-8E57-A6A73BE1D5C8</key>
		<dict>
			<key>note</key>
			<string>Keyword for web search</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6440BFDA-0FBC-4D37-843F-C608556F33AE</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>76C32CDC-249F-42A1-9D0B-AC7C691F7FE4</key>
		<dict>
			<key>note</key>
			<string>Choose which csv list to search</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8C96E9E3-6D68-4F50-B40B-D456C52F660E</key>
		<dict>
			<key>note</key>
			<string>Save search keyword for later</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9C4D2A53-E16D-41CB-96E5-C9AB77A976FD</key>
		<dict>
			<key>note</key>
			<string>Copy {var:query} to clipboard</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>AC19CFDC-105F-42BA-B640-6E79FF69B6CF</key>
		<dict>
			<key>note</key>
			<string>copy_csv.py</string>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B0AA7277-F1ED-4A31-9826-A9157FB0B85E</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>DD852520-D00C-40FD-9B2A-D69E56B68DB8</key>
		<dict>
			<key>note</key>
			<string>Choose which item to launch</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E83F39A2-A40B-44D9-865E-4D56A4E1D4DF</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>EBFE754D-1F80-4449-9044-0E6E53294C9B</key>
		<dict>
			<key>note</key>
			<string>Replace "{query}" with {var:query} in csv arg column</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>FC0CC581-47A8-4FBF-9668-F5FC685AAFE3</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>sfl</string>
		<key>sfl_dir_csv</key>
		<string>demo/csv</string>
		<key>sfl_dir_csv_icons</key>
		<string>demo/csv_icons</string>
		<key>sfl_dir_icons</key>
		<string>demo/icons</string>
		<key>sfl_dir_tmp</key>
		<string>tmp</string>
		<key>sfl_file_csv</key>
		<string>demo/list.csv</string>
		<key>sfl_file_csv_ignore</key>
		<string>temp,demo,ignore</string>
	</dict>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/yellowsoar/alfred_web_search_with_fuzzy_list/</string>
</dict>
</plist>
